/* global */
@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&family=Dongle&family=Kumbh+Sans:wght@700&family=Libre+Baskerville&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Mono', monospace;
    padding: min(10vh, 2rem);
}

.item3__title {
    font-size: clamp(2rem, 1rem + 20vh, 3rem);
    width: max(350px , 400px);
    word-spacing: -1rem;
}
.item1 {
    font-weight: bold;
}
.img {
    width: min(539px, 80%);
    height: max(450px, 100%);
    margin: 2rem 2rem 0;
}
.item3 {
    padding-block: min(10vh, 10rem);
}
.item3__subtitle {
    width: min(586px, 328px);
    padding: min(10vh, 2rem) 0;
}
.item3__btn {
    margin-top: 2rem;
    color: #fff;
    background-color: #333333;
    padding: 24px 43px;
}
.item3__btn:hover {
    cursor: pointer;
    background-color: #fff;
    color: #333333;
}
.item4 {
    font-size: clamp(.8rem, 2rem + 5vh, .8rem);
    text-align: center;
    color: rgb(179, 175, 175);
}
.item4 a:hover {
    color: #333333;
    text-decoration: none;
}

@media (min-width: 1020px) {
    .item_flexbox{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}
